@import "tailwindcss";

@layer components {
  .verde-escuro {color: #32462F;};
  .verde-button{ color:#00362E;};
  .verde-primary{color: #006242;};
  .font-primary{font-family: "Sora", sans-serif;};
}